.landingPage{
    background-image: "https://media-private.canva.com/MABMGphi4eA/1/screen_2x.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20210930%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20210930T071614Z&X-Amz-Expires=27636&X-Amz-Signature=f939fee6666474f5c6465d577f4c676bfd24db63dcc54669f0947a828834187e&X-Amz-SignedHeaders=host&response-expires=Thu%2C%2030%20Sep%202021%2014%3A56%3A50%20GMT";
}

.section1{
    background-image: url("https://i.imgur.com/EGRgzRp.jpg");
    background-position: center;
}
.animation{
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 

 .animation-fast{
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
}
