.aboutus--title{
    background-image: url("https://images.pexels.com/photos/3876407/pexels-photo-3876407.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.aboutus--vision{
    background-image: url("https://static.wixstatic.com/media/2144345e48ac4090a6bafc808f15fbb4.jpg/v1/fill/w_457,h_316,al_c,q_80,usm_0.66_1.00_0.01/2144345e48ac4090a6bafc808f15fbb4.webp");
    background-size: cover;
}

.aboutus--mission{
    background-image: url("https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
}
